body {
  margin: 0 auto;
  background-image: url("./nav.jpeg");
  background-position: center center;
  background-image: no-repeat;
}

/* Logo */
img {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

/*Font Size*/
font_size {
  font-size: 100%;
}
stretch {
  height: 100px;
}

/*Button*/
.btn {
  transition: 0.1s;
}
.btn:hover {
  transition: 0.3s;
}
